body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(175, 18, 18)
}

header {
    background-color: rgb(34, 173, 6);
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navidad-grinch{
    border-radius: 151px;
    width: 366px;
    height: 366px;
}
.audio1{
    margin-left: -129px;
    padding-left: 268px;
}


footer {
    background-color: rgb(34, 173, 6);
    color: #fff;
    padding: 37px;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-contenido p {
    margin: 0;
  }
  
  .footer-contenido ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .footer-contenido li {
    display: inline;
    margin-right: 15px;
  }
  
  .footer-contenido a {
    text-decoration: none;
    color: #fff;
    font-family: 'Arial', sans-serif;
  }