body{
    background-color: beige
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

img {
    width: 180px;
    border-radius: 100%;
    margin-right: 369px; 
}

.titulo {
    margin-top: 0; 
}
.titulo{
    text-align: left;
    margin: -146px;
    margin-left: 293px;
}
.p1{
    text-align: left;
    margin: 165px;
    margin-left: 298px;
    margin-bottom: 40px;
}
.titulo2{
    text-align: left;
    margin: -24px;
    margin-left: 297px
}

.textoDestacada2{
    border-radius: 172px;
    margin: 39px;
    margin-left: -358px;
    margin-bottom: -68px;
    width: 68px;
    height: 61px;
    margin-top: 56px;
}
.destacada2IMG{
    border-radius: 171px;
    margin: 39px;
    margin-left: -364px;
    margin-bottom: -47px;
    width: 82px;
    height: 71px;
    margin-top: 30px;
    align-items: center;
}
.barra{
    color: black;
}
.IMGFEED{
    border-radius: 0px;
    margin-right: 215px; 
}
.IMGFEED2{
    border-radius: 0px;
    margin-right: 215px; 
}
.IMGFEED3{
    border-radius: 0px;
    margin-right: 215px; 
}
.IMGFEEDS{
    border-radius: 0px;
    width: 180px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
.IMGFEEDS{
    border-radius: 0px;
    width: 180px;
    display: table;
    margin: 10px;
    padding: 10px;
}